@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
   box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
}

body {
   background-color: #000;
   color: #fff;
}

.main {
   padding: 1rem;
}